.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F7F9;
}

.loginWhiteBox{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
    border: 1px solid #1D212F26;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerWhiteBox{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
    border: 1px solid #1D212F26;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    font-size: 30px;
    font-weight: 400;
    color: #1D212F;
}

.myForm{
    width: 100%;
}

.myLoginRegisterButton{
    background-color: #0451E5 !important;
    width: 50%;
}