/* colors */ 
$color-background: #F5F7F9;
$color-primary: #0451E5;
$color-secondary: #1D212F;
$color-secondary-bezel: #1D212F26;
$color-text: rgba(0,0,0,.87);
$color-label: rgba(0,0,0,.6);
$color-disabled: rgba(0,0,0,.3);
$color-disabled-text: rgba(0,0,0,.5);
$color-white: #FFF;

/* state colors */ 
$color-success-light: #D4FFED;
$color-success: #52CB98;
$color-success-dark: #27a470;
$color-warning-light: #FFF5EC;
$color-warning: #FFB545;
$color-warning-dark: #d58e22;
$color-error-light:#FFECEC;
$color-error:#FF3E3E;
$color-error-dark: #c01c1c;