@import 'colors';
@import 'icons';

/* Styling global */ 

body #root {
  font-family: 'Ubuntu';
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#root * {
  font-family: 'Ubuntu';
}

h1 {
  padding-top: 12px;
  font-size: 27px;
  line-height: 31px;
  font-weight: 400;
}

h2 {
  padding-top: 8px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
}

h3 {
  padding-top: 4px;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

p, span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

small {
  font-size: 11.2px;
  line-height: 11px;
}

body {
  background-color: $color-background;
}


/* Styling global customs */ 
div.card {
  border-radius: 15px;
}

.card-section {
  margin-bottom: 20px;
}

.date-label {
  color: rgba(29, 33, 47, 0.4);
}
.no-data {
  font-style: "italic";
  color: $color-disabled-text;
}
.form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 20px;
  padding: 12px;

  Button {
    width: max-content;
  }
}

.action-column {
  display: flex;
}

.MuiRadio-root ~ .MuiFormControlLabel-label {
  .inline-icon.icon-green,
  .inline-icon.icon-red {
    color: $color-disabled;
  }
  span {
    color: $color-disabled-text;
  }
}
.Mui-checked ~ .MuiFormControlLabel-label {
  opacity: 1;

  .inline-icon.icon-green {
    color: $color-success;
  }

  .inline-icon.icon-red {
    color: $color-error;
  }
  span {
    color: $color-text;
  }
}


/* Styling Team Detail page */ 

.team-member__content {
  display: grid;
  grid-template-columns: 250px 1fr auto;
  column-gap: 12px;
}

.team-member__content--photo {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 180px;
    width: 180px;
    overflow: hidden;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    min-width: 180px;
    min-height: 180px;
    object-fit: cover;
    object-position: center;
  }
}

.team-member__content--details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;

  .grid-2-columns {
    grid-column: 2 / span 2;
  }
}

.team-member__content--actions Button{
  margin-top: 32px;
  margin-right: 12px;
}

/* Styling Team Update page */

.photo-upload {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &__photo {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
  }
}


/* Styling comments */ 

.comment-row { 
  display: grid;
  grid-template-columns: 20px 1fr auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 12px;
}


/* Styling empty states */

div.empty-state-card {
  min-height: 400px;
  height: 70vh;
  display: flex;
  justify-content: center;


  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-top: 8px;
  }

  Button {
    margin-top: 24px;
  }

  img {
    width: 150px;
  }

}
